<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Registration Form</h1>

    <form action="/user" method="post">
        <pre>
            <label for="fname">UserName</label>
            <input type="text" name="username" id="fname">


            <label for="mail">Email</label>
            <input type="text" name="email" id="mail">


            <label for="pass">password</label>
            <input type="text" name="password" id="pass">

            <button type="submit">Register</button>
        </pre>
    </form>
</body>
</html>